body {
    max-width: 100%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-size: cover;
    background-attachment: fixed;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    position: absolute;
   }
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
h2 {
    color: rgb(0, 0, 0);
    font-size: 50px;
    text-align: center;
}
.container_photo {
    width: 500px;
    height: 720px;
    display:block;
    margin: auto;
    justify-content: center;
}
p {
    color: rgb(0, 0, 0);
    font-size: 25px;
    margin-left: 25px;
}
span {
    color: rgb(0, 0, 0);
    font-size: 30px;
    margin-left: 10px;
}
a {
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-left: 15px;
}
.top-menu a:hover {
    color: rgb(255, 0, 242);
}
.top-menu__button {
    margin-top: 24px;
    vertical-align: middle;
    margin-right: 25px;
}
.top-menu {
    vertical-align: middle;
}
.header {
    display: flex;
    justify-content: center;
    position: fixed;
    height: 255px;
    background: rgba(0,0,0,0.4);
    border-radius: 50px;
    text-align: center;
}
.top-menu a {
    vertical-align: middle;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: all 0.4s ease-in-out;
}
i {
    font-size: 35px;
    vertical-align: middle;
}
.box {
    background: rgba(0,0,0,0.2);
    border: 2px solid;
    margin-bottom: 20px;
    width: 80%;
    margin-left: 170px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-radius: 20px;
    padding: 20px;
   }
.social i{
    font-size: 64px;
}
